body {
  text-align: center;
  font-family: sans-serif;
  background-color: #333340;
  color: white;
}

#gameCanvas {
  display: inline-block;
}

#gameScreen {
  display: none;
}

#launchScreen {
  background-color: #333340;
  display: inline-block;
  width: 800px;
  height: 500px;
  position: relative;
}

#launchLogo {
  position: absolute;
  width: 500px;

  -webkit-animation: flashyScale 0.5s ease infinite alternate;
  animation: flashyScale 0.5s ease infinite alternate;

  /* In case animations aren't supported */
  width: 500px;
  left: 150px;
  top: 60px;
}

@-webkit-keyframes flashyScale {
  from {
    width: 500px;
    left: 150px;
    top: 60px;
  }

  to {
    width: 450px;
    left: 175px;
    top: 70px;
  }
}

@keyframes flashyScale {
  from {
    width: 500px;
    left: 150px;
    top: 60px;
  }

  to {
    width: 450px;
    left: 175px;
    top: 70px;
  }
}

#instructions {
  margin-top: 300px;
}

#instructions img {
  height: 40px;
  vertical-align: middle;
}

button {
  color: white;
  border-radius: 10px;
  background-color: green;
  font-size: 20px;
}

button:hover {
  background-color: lawngreen;
}

.progress {
  display: inline-block;
}

#progressBar {
  margin-right: 10px;
  text-align: left;
  border: 1px solid;
}

#uiBar {
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: none;
}

.overlay > div {
  color: black;
  background-color: white;
  padding: 20px 50px;
  border: 3px solid;
  text-align: center;
  margin-top: 150px;
}

#levelSelect {
  margin-right: 20px;
}
